<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Notebook</title>
    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="mt-4">
        <h4>Hello! Welcome! Wilkommen!</h4>
        <form th:action="@{/search}" method="post">
            <div class="form-group">
                <label for="findingsDoc">My Findings Document:</label>
                <textarea class="form-control" name="findingsDoc" id="findingsDoc" rows="10" placeholder="Please enter your document here"></textarea>
            </div>
            <div class="form-group">
                <label for="searchString">Search string:</label>
                <input type="text" class="form-control" th:name="searchInput" id="searchString" placeholder="Enter the search string"/>
            </div>
            <input type="submit" class="btn btn-primary" id="getFrequency" value="Show Occurrences"/>
            <div class="form-group">
            </div>
        </form>
        <div class="p-1 bg-success text-white text-center mt-3" th:text="${count}" th:if="${count}"></div>
        <div class="p-1 bg-info text-white text-center mt-3" th:text="${similarWords}" th:if="${similarWords}"></div>
        <h5 class="mt-2" th:if="${findingsDoc}">Here is your notebook entry:</h5>
        <div class="text-justify mt-2" th:if="${findingsDoc}" th:text="${findingsDoc}">Text</div>
    </div>
</div>
</body>
</html>